.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#password1{
  background-color: rgba(0, 0, 0, 0);
  color: #FAFAFA;
  border-top: none;
  border-left: none;
  border-right: none;
}

#email1{
  background-color: rgba(0, 0, 0, 0);
  color: #FAFAFA;
  border-top: none;
  border-left: none;
  border-right: none;
}

#contact1{
  background-color: rgba(0, 0, 0, 0);
  color: #FAFAFA;
  border-top: none;
  border-left: none;
  border-right: none;
}

#customimg {
  width: 100vw;
}

#yellow{
  color: #FFC24D;
}


#loginbutton{
  background-color: #FFB72E;
  color: #FFFFFF;
}

#createaccount {
  background-color: #FFB72E;
}

#bgnavbar {
  color: #DBDBDB;
  column-gap: 4rem;
  font-size: 1.18rem;
  top: 2.35rem;
  right: 3.52rem;

}

#profilenavbar {
  position: relative;
  background: #FFFFFF48 0% 0% no-repeat padding-box;
  border-radius: 100px;
  margin-top: -13px;
  height: 52px;
  width: auto;
}

#profilenavbar:hover, #profilenavbar:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

#imagenavbar {
  border-radius: 100px;
  height: 51px;
  width: 48px;
  padding-left: 3.5px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
}

#usernamenavbar {
  display: flex;
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 15.5px;
  padding-right: 10px;
  padding-left: 6px;
  width: auto;
}

#dropdownnavbar {
  background: #FFFFFF48 0% 0% no-repeat padding-box;
}

#marginpost {
  margin-left: 11.35rem;
  margin-right: 11.9rem;
}

#insidepost {
  margin-top: 4.9rem;
}

#carousellogo {
  left: 29.10%;
  top: 4.35rem;
}

#carousellogo1 {
  width: 80%;
}

#carouselinfo {
  font-size: 21.7px;
  top: 11rem;
}

#createpostbutton {
  background-color: #EBA51D;
  border-radius: 100px;
  border: 1px solid #FFC24D;
  color: #FFFFFF;
  text-align: center;
  width: 231.6px;
  height: 55.5px;
  margin-top: -0.7px;
  
}

#plus {
  font-size: 28.5px;
  padding-top: 12.4px;
  padding-left: 33.5px;
  padding-right: 7.5px;
  font-weight: bold;
}

#createpost {
  font-size: 17.5px;
  padding-top: 14px;
}

#hide-arrow::-webkit-inner-spin-button,
#hide-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#locationpost {
  font-size: 1.42rem;
  line-height: 2.18rem;
}

#filters {
  margin-left: 9px;
}
#filterborders {
  position: relative;
  border-left-color: #EBA51D;
  border-left: 1.5px solid;
  color: #EBA51D;
  width: 200px;
  border-radius: 5px;
  margin-top: 2px;
  height: 30px;
  font-size: 18.7px;
  padding-top: 19px;
  padding-left: 8.5px;
  padding-bottom: 26px;
}

#custom-select {
  background-color: transparent;
  border: none;
  padding-top: 1rem;
  margin-left: -0.5rem;
  margin-top: -1.5rem;
  height: 44.5px;
  padding-left: -100px;
}

#custom-select:focus {
  border-color: #EBA51D;
  border: 2.5px solid;
  border-radius: 5px;
  padding-left: 97px;
  margin-right: 12px;
  width: auto;
  margin-left: -95px;
}

#custom-select2 {
  background-color: transparent;
  border: none;
  padding-top: 1rem;
  margin-left: -0.5rem;
  margin-top: -1.5rem;
  height: 44.5px;
  padding-left: -100px;
}

#custom-select2:focus {
  border-color: #EBA51D;
  border: 2.5px solid;
  border-radius: 5px;
  padding-left: 85px;
  margin-right: 12px;
  width: auto;
  margin-left: -83px;
}

#allposts {
  margin-top: 19.8px;
  margin-left: 8px;
  margin-right:-2.7px;
  column-gap: 2.40rem;
  row-gap: 3.9rem;
}

#user_post{
  height: 705px;
}

#user_post2{
  height: 705px;
  border: 5px dashed #DBDBDB;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0); 
}


#imagepost{
  height: 264px;
  position: relative;
  color: #FFFFFF;
}

#upperleft {
  position: absolute;
  top: 15.5px;
  left: 16px;
  color: black;
}



#dropdown-list {
  position: absolute;
  top: 0;
  left: 4px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  z-index: 1;
  margin-left: 20px;
}

#dropdown-list button {
  background: none;
  border: none;
  padding: 4px;
  margin-bottom: 4px;
}

#dropdown-list button:hover {
  background-color: #f2f2f2;
}

#lowerleft {
  display: flex;
  position: absolute;
  bottom: 8px;
  left: 24.3px;
  font-size: 17px;
}

#upperright {
  position: absolute;
  top: 15.5px;
  right: 16px;
  background-color: #92B92A;
  color: #FFFFFF;
  text-align: center;
  border: 2px solid #A0C42E;
  border-radius: 5px;
  width: auto;
  height: auto;
  padding-right: 15px;
  padding-top: 11.5px;
  padding-left: 15.8px;
  padding-bottom: 1px;
}

#yellowpost {
  background-color: #FFC24D;
  border: 2px solid #FFC24D;
  font-size: 10.3px;
  text-align: center;
  padding-top: 7px;
  margin-top: 24.8px;
  margin-left: 24px;
  border-radius: 3px;
}

#interestpost {
  margin-top: 32px;
  margin-left: 23.5px;
  margin-bottom: -4px;
  font-size: 1.7rem;
  line-height: 1.9rem;
  font-display: 1px;
}

#descriptionpost {
  margin-left: 24px;
  margin-top: 10px;
  color: #6F6F6F;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#post {
  margin-top: 26px;
  margin-left: 36.5px;
  font-size: 19.3px;
}

#icon {
  margin-top: -1px;
  margin-right: 14px;
  color: #DBDBDB;
}

#post2 {
  margin-top: 22px;
  margin-left: 36.5px;
  font-size: 19.3px;
}

#icon2 {
  font-size: 23px;
  color: #DBDBDB;
  margin-top: -2px;
  margin-left: -2px;
  margin-right: 12.5px;
}

#post3 {
  margin-top: 21px;
  margin-left: 36.5px;
  font-size: 19.3px;
}

#icon3 {
  font-size: 27px;
  color: #DBDBDB;
  margin-top: -6px;
  margin-right: 10px;
  margin-left: -4px;
}

.toggle-container {
  display: inline-block;
  position: relative;
  background-color: #F0F0F0;
  border-radius: 40px;
  width: 450px;
  height: 64px;
  margin-top: 5px;
}

.toggle-button {
  position: relative;
  display: inline-block;
  margin-top: -1px;
  width: 179px;
  height: 64px;
  background-color: #EBA51D;
  color: #FFFFFF;
  border: none;
  border-radius: 40px;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 2;
  overflow: hidden;

}

.toggle-button2 {
  position: relative;
  display: inline-block;
  margin-top: -1px;
  width: 100%;
  height: 64px;
  background-color: #EBA51D;
  color: #FFFFFF;
  border: none;
  border-radius: 40px;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 2;
  overflow: hidden;

}


#joinbutton {
  font-size: 0.940rem;
  line-height: 1.25rem;
}

.toggle-button.join.active {
  transform: translateX(0px);
  left: 0px;
}

.toggle-button.join.active + .toggle-switch {
  transition-delay: 1s;
}


.toggle-button2.leave.active {
  transform: translateX(0px);
}

.toggle-button2.leave.active + .toggle-switch {
  transition-delay: 1s;
  left: 62px;
}

#viewattendees {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(10px);
}

#viewattendees button {
  position: absolute;
  text-align: center;
  bottom: 50px;
  color: red;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

#viewattendees button:hover {
  text-decoration: underline;
}

#viewusers {
  width: 100%;
  height: 70px;
  border-radius: 50px;
  box-shadow: 0px 0px 8px 4px rgba(121,45,195,0.7);
  overflow: hidden;
  text-overflow: ellipsis;
}



#darkyellow {
  color: #EBA51D;
}
#rememberme{
  background-color: rgba(0,0,0, 0);
}

.absolute button {
  width: 8px;
  height: 8px;
}

#filthis{
  background-color: #FAFAFA;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 99;
  border-radius: 40px;
  margin-top: -56.5px;
  height: auto;
  /* box-shadow: 0px 0px 8px 4px rgba(121,45,195,0.7); */
}

#chilloutareas{
  font-size: 67.3px;
  position: static;
 
}

#dashedline {
  width: 56%;
  height: 2px;
  margin-top: 3.63rem;
  margin-left: 16px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='6' stroke-dasharray='8%2c 19' stroke-dashoffset='40' stroke-linecap='square'/%3e%3c/svg%3e");
}

