.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#filthis{
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  /* box-shadow: 0px 0px 8px 4px rgba(121,45,195,0.7); */
}

#password1{
  background-color: rgba(0, 0, 0, 0);
  color: #FAFAFA;
  border-top: none;
  border-left: none;
  border-right: none;
}

#email1{
  background-color: rgba(0, 0, 0, 0);
  color: #FAFAFA;
  border-top: none;
  border-left: none;
  border-right: none;
}
#ns{
  font-family: 'Noto Sans', sans-serif;
}

#yellow{
  color: #FFC24D;
}

#ybut{
  background-color: #FFB72E;
  color: #FFFFFF;
}
#remember{
  background-color: rgba(0,0,0, 0);
}